.close-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 1.4rem;
	height: 1.4rem;
	border: none;
	background-color: transparent;
}

.close-btn::before,
.close-btn::after {
  content: "";
  position: absolute;
  width: 1.4rem;
  height: 0.2rem;
  background-color: #4481c3;
}

.close-btn:hover {
  cursor: pointer;
}

.close-btn::before,
.close-btn::after {
	opacity: 0.6;
}

.close-btn:active {
  transform: translateY(2px);
  opacity: 0.8;
}

.close-btn::before {
  top: 0.6rem;
  transform: translate(-50%, 0) rotate(-45deg);
}

.close-btn::after {
  bottom: 0.6rem;
  transform: translate(-50%, 0) rotate(45deg);
}
